<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaceRunner Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PaceRunner-Shared.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PaceRunner-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PaceRunner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68801EAB2ECBD54000A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801EB82ECBD54100A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801EC22ECBD54100A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801ECE2ECBD54100A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801EDD2ECBD54200A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801EE72ECBD54200A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801F082ECBD63000A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801F142ECBD63100A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801F1E2ECBD63100A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801F342ECBD6AE00A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68801F3E2ECBD6AF00A57696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
